*{
  box-sizing:border-box;
}
.container{
  width:1000px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
}
button{
  &:focus{
    outline:none;
  }
}
.deck{
  z-index: 2;
  margin:15px;
  width:270px;
  height:360px;
  position:relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  font-family:"Dokdo";
  border-radius:10px;
}
.cardcontainer{
 z-index: 2;
  top: 20%;
  left:10%;
  position: absolute;

}
.card{

  width:100%;
  height:100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  border-radius:10px;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color:whitesmoke;
  border-radius:10px;
}
.back {
  overflow:hidden;
  z-index:-1;
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;

    content: "";
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  z-index: -1;

	  /* background: url('images/characters/lorna2.png');
    background-position: center;
    background-size: contain; */
	  -webkit-transform: rotateY(180deg);
	  -moz-transform: rotateY(180deg);
	  -ms-transform: rotateY(180deg);
	  -o-transform: rotateY(180deg);
	  transform: rotateY(180deg);

}

#card1back{
  background-image: url('images/characters/lorna2.png');
  background-position: center;
  background-size: contain;
}

.front, .back{
  transition: all .5s linear;
}
.front{
  /* background-image:url('images/characters/lorna1.png');
  background-position: center;
  background-size: contain; */
  z-index:1;
  box-shadow: 5px 5px 5px #aaa;
}

#card1front{
  background-image:url('images/characters/lorna1.png');
  background-position: center;
  background-size: contain;
}


.back{
  box-shadow: 0 0 0 #aaa;
}
.flipped{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  .front{
    box-shadow:0 0 0 #aaa;
  }
  .back{
    box-shadow: 5px 5px 5px #aaa;
  }
}

.rad-button{
  font-family: "Dokdo";
  /* border:2px solid gray; */
  /* color:gray; */
  width:90px;
  background-color:rgba(255, 255, 255, .3);
  padding:10px;
  border-radius:4px;
  cursor: pointer;
  position:absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 40px;
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}

.return{
  position:absolute;
  width:100%;
  background-color:transparent;
  border:none;
  color:gray;
  cursor:pointer;
  padding:5px;
  bottom:0;
  border-radius:0 0 10px 10px;
  background-color:darken(whitesmoke, 10%);
  font-size:18px;
  &:focus{
    outline:none;
  }
}

.closecard{
text-decoration: none;
color:black;
font-family: "Dokdo";
position: absolute;
top: 0;
right: 20px;
font-size: 20px;
margin-left: 60px;
}
#card0front{
  background-image:url('images/characters/mom-01.png');
  background-position: center;
  background-size: contain;
}
#card0back{
  background-image: url('images/characters/mom-02.png');
  background-position: center;
  background-size: contain;
}

#card2front{
  background-image:url('images/characters/mom-01.png');
  background-position: center;
  background-size: contain;
}
#card2back{
  background-image: url('images/characters/mom-02.png');
  background-position: center;
  background-size: contain;
}

#card3front{
  background-image:url('images/characters/Yu-01.png');
  background-position: center;
  background-size: contain;
}
#card3back{
  background-image: url('images/characters/Yu-02.png');
  background-position: center;
  background-size: contain;
}

#card4front{
  background-image:url('images/characters/Joshua-01.png');
  background-position: center;
  background-size: contain;
}
#card4back{
  background-image: url('images/characters/Joshua-02.png');
  background-position: center;
  background-size: contain;
}

#card5front{
  background-image:url('images/characters/YeFan-01.png');
  background-position: center;
  background-size: contain;
}
#card5back{
  background-image: url('images/characters/YeFan-02.png');
  background-position: center;
  background-size: contain;
}

#card7front{
  background-image:url('images/characters/XiaoFeng-01.png');
  background-position: center;
  background-size: contain;
}
#card7back{
  background-image: url('images/characters/XiaoFeng-02.png');
  background-position: center;
  background-size: contain;
}

#card6front{
  background-image:url('images/characters/Liu-01.png');
  background-position: center;
  background-size: contain;
}
#card6back{
  background-image: url('images/characters/Liu-02.png');
  background-position: center;
  background-size: contain;
}
