span{
  left:1%;
}
.sidenav {
   /* max-height: calc(100vh - 9rem); */
  font-family: "Dokdo";
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9C89B8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  overflow-y: scroll;
  top: 0;
  bottom: 5%;
}

.sidenav a,  .dropdown-btn {
  font-family: "Dokdo";
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;


}

/* .sidenav a:hover {
  color: #f1f1f1;
} */

.sidenav .closebtn {
    font-family: "Dokdo";
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropdown-container {

  font-family: "Dokdo";
  display: none;
  background-color: #A89EB7;
  padding-left: 8px;


}

.fa-caret-down {
  font-family: "Dokdo";
  float: right;
  padding-right: 8px;
}
